*{
    margin: 0;
    padding: 0;
}
html{
    width: 54vh;
    height: 98vh;
    position: absolute;
    top: 0%;
    overflow:hidden ;   
    background:rgba(249,241,251);
    font-family: "Butcherman", system-ui;
}
#div{
    width: 300px;
    height: 200px;
    box-shadow:0.4vh 0.5vh 0.9vh;
    position: absolute;
    left: 25px;
    top: 100px;
    color:black;
    Font-size:27px;    
    background:white;
    display:flex;
    align-items:center ;
    justify-content:center ;
    transition:all 0.5s ease ;
    font-family:"Modern Antiqua", serif;
}
#div:hover{
  animation:a1 0.6s;
}
@keyframes a1{
    0%{transform:scale(0.7);}
    70%{transform:scale(1.1);}
}
#div p{
    width: 100%;
    height: 50px;
background: linear-gradient(to right,gray,black);
     position: absolute;
     top: 120%;
     Font-size:25px;
     text-align:center ;
     color:white;
}
.logo{
    font-weight:999 ;
    Font-size:27px;
    background: white;
    border-radius:8px;
    border:solid blue;
    width: 310px;
    padding-left: 16px;
    margin: 28px 12px;
    letter-spacing:-3px;
    -webkit-user-select:none;
    display:flex;align-items:center ;
}
.logo span{transition:0.5s;font-family:"Modern Antiqua", serif;}

.searchicon{
    width: 25px;
    height: 50px;
    position: relative;
    left: 50%;
    Font-size:6vh;
}
.search{
    width: 354px;
    height: 700px;
    background: transparent;
    position: absolute;
    top: 100%;
    transition:0.5s ;
}
.story{
    width: 354px;
    height: 70%;
    border-radius:14px 14px 0 0;
    background: white;
    border:solid rgba(45,103,190);
    position: relative;
    top: 24%;
    overflow-y:auto;
    overflow-x:hidden ;
   box-shadow:2vh 5vh 0.9vh rgba(45,103,190);
}
.search h1{
    Font-size:55px;
    font-weight:40;
    position: absolute;
    top: 16%;
    right: 3%;
}
.searchbar{
    width: 295px;
    height: 50px;
    border:solid #1f5eb9 2px;
    position: relative;
    top: 10%;
    left: 6%;
    Font-size:19px;
    border-radius: 1.6vh;
   box-shadow:0.5vh 0.5vh 0.9vh rgba(45,103,190);
}
.searchicon2{
    width: 33px;
    height: 33px;
    position: absolute;
    left: 78%;
    top: 12%;
    Font-size:9vh;
}

.stories{
    width: 290px;
    height: 70px;
    border-radius: 20px 12px 12px 20px;
    background: #061025;
    position: relative;
    top: 12%;
    margin-top: 2vh;
    margin-left: 20px;
    padding-left: 10px;
    color:white;
    Font-size:16px;
    border:solid 2px black;
    display:flex ;   
    align-items:center ;
    box-shadow:0.4vh 0.5vh 0.9vh;
}
.color{
    width: 140px;
    height: 68px;
    border-radius: 12px;
    position: absolute;
    right: 0%;
    top: 0;
    box-shadow:0.9vh 0.9vh 0.9vh black;
}

.blue{
    width: 354px;
    height: 520px;
    border-radius:14px 14px 0 0;
    background: white;
    border:solid rgba(45,103,190);
    position: absolute;
    top: 102%;
    left:0%;
    overflow-y:auto;
    overflow-x:hidden ;
    z-index:50;
    transition:0.3s ;
    box-shadow:2vh 5vh 0.9vh rgba(45,103,190);
}
.blue section{
     width: 290px;
    height: 70px;
    border-radius: 20px 12px 12px 20px;
    background: #061025;
    position: relative;
    top: 12%;
    margin-top: 2vh;
    margin-left: 20px;
    padding-left: 10px;
    color:white;
    Font-size:16px;
    border:solid 2px black;
    display:flex ;   
    align-items:center ;
    box-shadow:0.4vh 0.5vh 0.9vh;
}
.b1 div{
    width: 140px;
    height: 68px;
    border-radius: 12px;
    position: absolute;
    right: 0%;
    top: 0;
    box-shadow:0.9vh 0.9vh 0.9vh black;
}
