*{
    margin: 0;
    padding: 0;
}
body{
    height: 100svh;
    width:100%;
    position: absolute;
    top: 0%;
    overflow:hidden ;   
    background:#1a1a1a;
    font-family:inter;
    &::before{
      content:"";
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background:radial-gradient(#ff8955,#154dff,#00b4d8);
      position:absolute ;
      top: 50%;
      right: 40%;
      filter:blur(60px);
      z-index:-5;
    }
      &::after{
      content:"";
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background:radial-gradient(#ff8955,#154dff,#00b4d8);
      position:absolute ;
      top: 10%;
      right: 10%;
      filter:blur(60px);
      z-index:-5;
    }
}
.canvas{
    width: 100%;
    height: 500px;
    box-shadow:0.4vh 0.5vh 0.9vh white;
    position: absolute;
    top: 100px;
    color:black;
    Font-size:27px;    
    background:white;
    display:flex;
    align-items:center ;
    justify-content:center ;
    transition:all 0.5s ease ;
    font-family:inter, serif;
}

.canvas p{
     Font-size:25px;
     color:transparent;
     -webkit-background-clip:text ;
 background-image:linear-gradient(to right,#15b6ff,#120625)
}
.logo{
    font-weight:999 ;
    Font-size:27px;
    background:none;
    border-radius:8px;
    border:solid blue;
    width: 95%;
    padding-left: 16px;
    margin: 28px 0%;
    letter-spacing:-3px;
    -webkit-user-select:none;
    display:flex;align-items:center;
}
.logo h2 span{transition:0.5s;font-family:"Modern Antiqua", serif;}

.searchicon{
    position: absolute;
    top: 5%;
    right: 7%;
    Font-size:3vh;
    color: #bdbdbd;
    text-decoration:underline;
}
.search{
    width: 354px;
    height: 700px;
    background: transparent;
    position: absolute;
    top: 100%;
    transition:0.5s ;
}
.story{
    width: 354px;
    height: 88%;
    border-radius:14px 14px 0 0;
    background:linear-gradient(#181818,#0086c7);
    border:solid rgba(45,103,190);
    position: relative;
    top: 7%;
    overflow-y:auto;
    overflow-x:hidden ;
}
.search h1{
    Font-size:55px;
    font-weight:40;
    position: absolute;
    top: -2%;
    right: 3%;
    color: #b4b4b4;
}
.searchbar{
    width: 295px;
    height: 50px;
    border:solid #1f5eb9 2px;
    position: relative;
    top: 10%;
    left: 6%;
    Font-size:19px;
    border-radius: 1.6vh;
   box-shadow:0.5vh 0.5vh 0.9vh rgba(45,103,190);
}
.searchicon2{
    width: 33px;
    height: 33px;
    position: absolute;
    left: 78%;
    top: 12%;
    Font-size:9vh;
}

.stories{
    width: 290px;
    height: 70px;
    border-radius: 20px 12px 12px 20px;
    background: #061025;
    position: relative;
    top: 12%;
    margin-top: 2vh;
    margin-left: 20px;
    padding-left: 10px;
    color:white;
    Font-size:16px;
    border:solid 2px black;
    display:flex ;   
    align-items:center ;
    box-shadow:0.4vh 0.5vh 0.9vh;
}
.color{
    width: 140px;
    height: 68px;
    border-radius: 12px;
    position: absolute;
    right: 0%;
    top: 0;
    box-shadow:0.9vh 0.9vh 0.9vh black;
}
